<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Некая главная страница</h1>
    <p>Welcome to dfewdfe</p>
    kjhnkjk
  </body>
</html>
